h2, h3, h4      { color: #CCCCCC}

.pane           {position:absolute; left: 25%; border: 2px solid; border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: #333333; }
.header         {left:50%; text-align: center;}
.name           {width:50%;display: inline-block; float: left;}
.description    {}
.price          {text-align: right; width:50%; float: right; }
.editdeletepane {}
.flash          { background: #cee5F5; }
.restaurant     { }