{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>
        Restaurants
        <a class="btn btn-default btn-sm"
           href="{{ url_for('main.create_restaurant') }}">New</a>
    </h1>

    <div>
        {% if restaurants %}
        <ul class="list-group">
            {% for restaurant in restaurants %}
            <li class="list-group-item">
                <a href="{{url_for('main.display_restaurant_menu', restaurant_id=restaurant.id)}}">
                    <h3>{{restaurant.name}}</h3></a>
                <a href="{{ url_for('main.edit_restaurant', restaurant_id=restaurant.id) }}">Edit</a>
                <a href="{{ url_for('main.delete_restaurant', restaurant_id=restaurant.id) }}">Delete</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>App has no restaurants yet!</p>
        {% endif %}
    </div>
</div>
{% endblock %}